.button {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 13px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: @color-main;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid @color-main;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: @color-main;
    color: @color-white;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
