.choose-size__button {
  color: #ffffff;
  text-transform: uppercase;
  background-color: @color-turquoise;
  border-color: @color-turquoise;
}

.choose-size__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 31px;
}

.choose-size__size {
  width: 82px;
  min-height: 52px;
  box-sizing: border-box;
  padding-top: 15px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  line-height: 1;
  color: @color-main;
  border: 2px solid @color-dark-gray;
}
