.copyright {
  display: flex;
  margin: 0 auto;
  border-top: 1px solid #e5e5e5;
  padding-top: 20px;
  padding-bottom: 23px;
}

.copyright__wrapper {
  display: flex;
  width: 184px;
  box-sizing: border-box;
  margin: 0 auto;
}

.copyright__text {
  margin: auto;
  margin-right: 27px;
  font-size: 19px;
  line-height: 18px;
  color: @color-black;
}

.copyright__link {
  width: 27px;
  height: 34px;
  margin: auto;
}
