.form-group {
  flex-direction: row;
  margin: 0;
  padding: 0;
  border: 0;
}

.form-group__title-wrapper {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 17px;
  font-weight: bold;
  line-height: 1;
  color: @color-turquoise;
  text-transform: uppercase;
  overflow: hidden;

  &::after {
    content: "";
    display: block;
    flex-grow: 1;
    width: 50px;
    height: 1px;
    background-color: @color-turquoise;
  }

  &--field {
    margin-bottom: 27px;
  }

  &--tel,
  &--email {
    margin-bottom: 5px;
  }

  &--add {
    margin-bottom: 24px;
  }
}

.form-group__title {
  min-width: 43px;
  margin-right: 18px;
}

.form-group__radio-wrapper {
  position: relative;
  display: flex;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 32px;
  }

  &::before {
    content: "";
    display: block;
    flex-shrink: 0;
    width: 35px;
    height: 35px;
    margin-right: 24px;
    border: 2px solid @color-main;
    border-radius: 50%;
  }
}

.form-group__radio-label,
.form-group__checkbox-label {
  display: block;
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  color: @color-black;
}

.form-group__radio-label {
  padding-top: 9px;

  &::before {
    content: "";
    position: absolute;
    top: 11px;
    left: 11px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
  }
}

.form-group__radio:checked + .form-group__radio-label::before {
  background-color: @color-turquoise;
}

.form-group__checkbox-wrapper {
  display: flex;
  position: relative;
  margin-bottom: 22px;

  &:last-child {
    margin-bottom: 32px;
  }

  &::before {
    content: "";
    display: block;
    width: 36px;
    height: 35px;
    margin-right: 22px;
    border: 2px solid @color-main;
  }
}

.form-group__checkbox-label {
  padding-top: 11px;

  &::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 9px;
    width: 20px;
    height: 8px;
  }
}

.form-group__checkbox:checked + .form-group__checkbox-label::before {
  border-left: 2px solid @color-black;
  border-bottom: 2px solid @color-black;
  transform: rotate(-45deg);
}

.form-group__field-wrapper {
  position: relative;
  margin-bottom: 21px;

  &--middle-name {
    margin-bottom: 31px;
  }

  &--tel::after {
    content: "";
    position: absolute;
    top: 12px;
    right: 8px;
    width: 25px;
    height: 24px;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
  }

  &--email::after {
    content: "";
    position: absolute;
    top: 12px;
    right: 4px;
    width: 32px;
    height: 26px;
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
  }
}

.form-group__field-label {
  display: block;
  font-size: 18px;
  font-weight: bold;
  line-height: 18px;
  color: @color-black;
}

.form-group__field {
  box-sizing: border-box;
  width: 100%;
  padding-top: 17px;
  padding-bottom: 16px;
  font: inherit;
  font-size: 17px;
  line-height: 18px;
  border: none;
  border-bottom: 2px solid @color-black;

  &::placeholder {
    color: @color-main;
    opacity: 0.3;
  }

  &--tel,
  &--email {
    margin-bottom: 11px;
    padding-right: 41px;
  }
}

.form-group__field-wrapper--textarea {
  margin-bottom: 0;
}

.form-group__textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 142px;
  padding: 14px;
  resize: none;
  font: inherit;
  font-size: 17px;
  line-height: 18px;
  border: 2px solid @color-main;

  &::placeholder {
    color: @color-main;
    opacity: 0.3;
  }
}

@media (min-width: @width-tablet) {
  .form-group__radio-label,
  .form-group__checkbox-label {
    font-size: 19px;
    line-height: 1;
  }

  .form-group__wrapper {
    display: flex;
    box-sizing: border-box;
    padding-bottom: 50px;
    .padding-container();

    &--color {
      padding-top: 50px;
      padding-bottom: 18px;
    }

    &--fullname {
      padding-top: 44px;
      padding-bottom: 32px;
    }

    &--tel {
      padding-top: 44px;
      padding-bottom: 0;
    }

    &--email {
      padding-bottom: 21px;
    }

    &--add {
      padding-top: 50px;
      padding-bottom: 35px;
    }
  }

  .form-group__title-wrapper {
    flex-shrink: 0;
    display: block;
    width: 167px;
    padding-top: 17px;

    &::after {
      display: none;
    }

    &--field {
      padding-top: 22px;
    }

    &--tel {
      padding-top: 23px;
    }

    &--email {
      padding-top: 22px;
    }
  }

  .form-group__radio-wrapper {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      width: 48px;
      height: 48px;
      margin-right: 28px;
    }
  }

  .form-group__radio-label {
    padding-top: 15px;

    &::before {
      top: 16px;
      left: 16px;
      width: 20px;
      height: 20px;
    }
  }

  .form-group {
    &--gray {
      background-color: @color-light-gray;
    }
  }

  .form-group__choose-wrapper {
    width: 100%;

    &--checkbox {
      display: flex;
      flex-wrap: wrap;
      max-width: 520px;
    }
  }

  .form-group__checkbox-wrapper {
    flex-grow: 1;
    min-width: 230px;
    max-width: 239px;
    margin-bottom: 24px;

    &::before {
      flex-shrink: 0;
      width: 50px;
      height: 48px;
      margin-right: 26px;
    }

    &:nth-child(odd) {
      margin-right: 23px;
    }
  }

  .form-group__checkbox-label {
    padding-top: 15px;

    &::before {
      top: 13px;
      left: 13px;
      width: 27px;
      height: 15px;
    }
  }

  .form-group__field-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 18px;

    &--tel {
      margin-bottom: 7px;

      &::after {
        top: 17px;
        right: 26px;
      }
    }

    &--email::after {
      top: 17px;
      right: 22px;
    }
  }

  .form-group__field-label,
  .form-group__field {
    font-size: 19px;
    line-height: 18px;
  }

  .form-group__field-label {
    margin-right: 26px;
  }

  .form-group__field {
    padding-bottom: 13px;
    padding-left: 15px;

    &--tel,
    &--email {
      padding-right: 60px;
      background-color: @color-light-gray;
    }
  }

  .form-group__textarea {
    font-size: 19px;
    line-height: 1;
  }
}

@media (min-width: @width-desktop) {
  .form-group__title-wrapper {
    width: 175px;
  }

  .form-group__title {
    padding-left: 62px;
  }

  .form-group__choose-wrapper {
    &--checkbox {
      max-width: 875px;
    }
  }

  .form-group__checkbox-wrapper {
    max-width: 263px;

    &::before {
      margin-right: 26px;
    }

    &:nth-child(odd) {
      margin-right: 0;
    }
  }

  .form-group__wrapper {
    max-width: @width-desktop;
    margin: 0 auto;

    &--color {
      padding-top: 49px;
    }

    &--add {
      padding-bottom: 31px;
    }
  }

  .form-group__field-wrapper {
    width: 700px;

    &--tel::after {
      right: 8px;
    }

    &--email::after {
      right: 4px;
    }
  }
}
