.main-nav__open {
  position: absolute;
  top: 32px;
  right: 30px;
  width: 20px;
  height: 14px;
  background-color: white;
  background-image: url(../img/menu-open.svg);
  border: none;
  cursor: pointer;
}
