.making {
  min-width: 260px;
  margin-bottom: 58px;
  .padding-container();
}

.making__title {
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 22px;
  padding-left: 89px;
  font-size: 17px;
  line-height: 24px;
  color: @color-black;
  background-image: url("../img/icon-video.svg");
  background-repeat: no-repeat;
  background-position: 33px 30px;
  border: 1px solid @color-dark-gray;
}

.making__image {
  display: block;
}

.making__wrapper {
  padding-top: 13px;
  padding-bottom: 32px;
  padding-left: 33px;
  padding-right: 33px;
  border: 1px solid @color-dark-gray;
}

.making__text {
  margin-bottom: 25px;
  font-size: 13px;
  line-height: 24px;
}
