.order {
  .padding-container();
}

.order__description {
  margin-top: 22px;
  margin-bottom: 24px;
  font-size: 13px;
  line-height: 24px;
}

.order__text-required {
  margin-top: 7px;
  margin-bottom: 31px;
  font-size: 14px;
  line-height: 16px;
}

.order__button {
  font: inherit;
  font-size: 17px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 55px;
  padding-bottom: 16px;
  background-color: @color-white;
}

@media (min-width: @width-tablet) {
  .order {
    width: auto;
    padding-left: 0;
    padding-right: 0;
    padding-top: 53px;
  }

  .order__description {
    margin-bottom: 57px;
    font-size: 17px;
    line-height: 30px;
    .padding-container();
  }

  .order__button-wrapper {
    display: flex;
    justify-content: space-between;
    .padding-container();
  }

  .order__text-required {
    flex-shrink: 0;
    order: 1;
    width: 334px;
    margin-top: 9px;
    font-size: 17px;
    line-height: 30px;
    text-align: right;
  }

  .order__button {
    width: 230px;
    margin-bottom: 50px;
  }
}

@media (min-width: @width-desktop) {
  .order {
    padding-top: 102px;
  }

  .order__description {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  .order__button-wrapper {
    width: 700px;
    margin: 0 auto;
  }
}
