.page-footer {
  background-color: @color-light-gray;
  .padding-container();
}

.page-footer__logo {
  display: none;
}

@media (min-width: 768px) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 52px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .page-footer__logo {
    display: block;
    width: 102px;
    height: 34px;
  }
}

@media (min-width: 1250px) {
  .page-footer {
    padding-left: 100px;
    padding-right: 100px;
  }
}
