.page-header {
  position: relative;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
}

.page-header__logo-wrapper {
  padding-top: 21px;
  padding-bottom: 22px;
  padding-left: 60px;
  padding-right: 60px;
  text-align: center;
  border-top: 1px solid @color-dark-gray;
  border-bottom: 1px solid @color-dark-gray;
}

.page-header__logo {
  display: block;
  width: 90px;
  height: 35px;
  margin: 0 auto;

  &[href]:hover,
  &[href]:focus {
    opacity: 0.6;
  }

  &[href]:active {
    opacity: 0.3;
  }
}

.page-header__logo-image {
  pointer-events: none;
}

.page-header__search,
.page-header__cart {
  position: relative;
  z-index: 1;
  margin: 0;
  padding-top: 26px;
  padding-bottom: 28px;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 1px solid @color-dark-gray;

  &[href]:hover,
  &[href]:focus {
    color: rgba(0, 0, 0, 0.6);
  }
}

.page-header__search-link {
  display: block;
  color: @color-black;
  text-decoration: none;

  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.page-header__search-link svg {
  opacity: 0.2;
}

.page-header__search-link:hover svg,
.page-header__search-link:focus svg {
  fill: @color-turquoise;
  opacity: 1;
}

.page-header__search-link:active svg {
  opacity: 0.3;
}

.page-header__icon-search {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 5px;
  left: -24px;
  pointer-events: none;
}

.page-header__cart-link {
  display: block;
  color: @color-black;
  text-decoration: none;

  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.page-header__cart-link svg {
  opacity: 0.2;
}

.page-header__cart-link:hover svg,
.page-header__cart-link:focus svg {
  fill: @color-turquoise;
  opacity: 1;
}

.page-header__cart-link:active svg {
  opacity: 0.3;
}

.page-header__icon-cart {
  position: absolute;
  width: 20px;
  height: 19px;
  top: 3px;
  left: -25px;
  pointer-events: none;
}

.page-header__new,
.page-header__sale,
.page-header__delivery {
  display: none;
}

@media (max-width: @width-mobile-only) {
  .page-header__search--closed,
  .page-header__cart--closed {
    display: none;
  }
}

@media (min-width: @width-tablet) {
  .page-header__wrapper {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  .page-header__search {
    min-width: 84px;
    min-height: 89px;
    box-sizing: border-box;
    border-left: 1px solid @color-dark-gray;
    border-right: 1px solid @color-dark-gray;
  }

  .page-header__icon-search {
    position: static;
    padding-top: 10px;
    padding-left: 3px;
  }

  .page-header__search-desc {
    display: none;
  }

  .page-header__cart {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    min-width: 300px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 82px;
    padding-right: 51px;

    &::after {
      content: "";
      flex: auto;
    }
  }

  .page-header__icon-cart {
    left: -50px;
  }

  .page-header__logo-wrapper {
    flex-grow: 1;
    box-sizing: border-box;
    min-width: 350px;
    padding-left: 49px;
    padding-bottom: 20px;
    text-align: left;
    border-top: none;
  }

  .page-header__logo-image {
    width: 112px;
    height: 46px;
  }

  .page-header__logo {
    display: block;
    width: 112px;
    height: 46px;
    margin: 0;
  }

  .page-header__delivery {
    display: block;
    order: 2;
    min-height: 41px;
    margin: 0;
    padding-top: 17px;
    padding-bottom: 11px;
    padding-right: 50px;
    font-size: 15px;
    font-weight: normal;
    line-height: 24px;
    background-color: #fafafa;

    &--inner {
      background-color: @color-light-gray;
    }
  }
}

@media (min-width: @width-desktop) {
  .page-header {
    overflow: hidden;
  }

  .page-header__logo-wrapper {
    flex-grow: 0;
    min-width: 290px;
    padding-top: 9px;
    padding-bottom: 7px;
    padding-left: 40px;
  }

  .page-header__logo {
    width: 149px;
    height: 72px;
  }

  .page-header__logo-image {
    width: 149px;
    height: 72px;
  }

  .page-header__cart {
    padding-right: 53px;
  }

  .page-header__new {
    display: block;
    order: 1;
    margin-top: 17px;
    margin-left: 50px;
    margin-right: 26px;
    font-size: 15px;
    line-height: 24px;
    color: @color-black;
    text-decoration: none;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .page-header__sale {
    display: block;
    order: 2;
    margin-top: 17px;
    margin-left: 35px;
    margin-right: 26px;
    font-size: 15px;
    line-height: 24px;
    color: @color-black;
    text-decoration: none;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .page-header__delivery {
    position: absolute;
    max-width: 300px;
    top: 89px;
    right: 1px;
    z-index: 1;
  }

  .page-header__wrapper {
    position: relative;
    align-items: flex-start;
    width: 1150px;
    margin: 0 auto;
  }

  .page-header__additional-info {
    background-color: #fafafa;

    &--inner {
      background-color: @color-light-gray;
    }
  }
}
