.page-header {
  position: relative;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
}

.page-header__logo {
  padding-top: 21px;
  padding-bottom: 16px;
  text-align: center;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
}

.page-header__search,
.page-header__cart {
  position: relative;
  z-index: 1;
  padding-top: 26px;
  padding-bottom: 28px;
  padding-left: 30px;
  padding-right: 30px;
  color: #000000;
  text-decoration: none;
  border-bottom: 1px solid #ececec;
}
