.page-footer {
  background-color: @color-light-gray;
}

.page-footer__wrapper {
  .padding-container();
}

.page-footer__logo {
  display: none;
}

@media (min-width: @width-tablet) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 52px;
    padding-bottom: 30px;
    .padding-container();
  }

  .page-footer__logo {
    display: block;
    width: 102px;
    height: 34px;
    margin-right: 77px;
  }
}

@media (min-width: @width-desktop) {
  .page-footer__wrapper {
    box-sizing: border-box;
    max-width: 1250px;
    margin: 0 auto;
    .padding-container();
  }
}
