.reviews {
  padding-top: 5px;
  padding-bottom: 44px;
}

.reviews__title {
  margin-bottom: 24px;
  font-size: 25px;
  color: #000000;
}

.reviews__review-quote {
  margin: 0;
}

.reviews__review-text {
  margin-bottom: 25px;
}

.reviews__review-author {
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  color: #000000;
  font-style: normal;
}

.reviews__review-email {
  margin-top: 0;
  margin-bottom: 28px;
  font-size: 17px;
}

.reviews__write-review {
  margin-top: 38px;
}
