.shop-about {
  position: relative;
  background-color: #fafafa;
  overflow: hidden;
}

.shop-about__image {
  position: absolute;
  left: 50%;
  top: -20px;
  transform: translateX(-50%);
}

.shop-about__title {
  position: relative;
  z-index: 1;
  display: block;
  min-height: 212px;
  padding-top: 70px;
  padding-left: 36px;
  padding-right: 36px;
  font-size: 27px;
  color: #010000;
  text-align: center;
}

.shop-about__catalog-list {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}

.shop-about__catalog-item {
  position: relative;
  .padding-container();

  &:first-child {
    background-color: @color-turquoise;
  }

  &:last-child {
    background-color: #56c3b2;
  }

  &::after {
    content: "";
    position: absolute;
  }

  &--interior::after {
    top: 23px;
    right: 36px;
    width: 40px;
    height: 62px;
    background-image: url("../img/icon-interior.svg");
  }

  &--toys::after {
    top: 21px;
    right: 27px;
    width: 60px;
    height: 60px;
    background-image: url("../img/icon-toy.svg");
  }
}

.shop-about__catalog-link {
  display: block;
  position: relative;
  width: 170px;
  padding-top: 26px;
  padding-bottom: 29px;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: @color-white;
  text-decoration: none;
}

@media (min-width: 768px) {
  .shop-about__title {
    font-size: 43px;
    line-height: 50px;
  }

  .shop-about__title {
    min-height: 473px;
    padding-top: 84px;
  }

  .shop-about__catalog-list {
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
  }

  .shop-about__catalog-item {
    flex-grow: 1;
    width: 334px;
    padding-left: 35px;

    &--interior::after {
      top: 30px;
    }

    &--toys::after {
      top: 32px;
      right: 34px;
    }
  }

  .shop-about__catalog-link {
    padding-top: 28px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: 1250px) {
  .shop-about__title {
    width: 655px;
    margin: 0 auto;
    padding-top: 112px;
    font-size: 53px;
    line-height: 57px;
  }

  .shop-about__catalog-list {
    max-width: 1050px;
    margin: 0 auto;
  }
}
