.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 141px;
  margin: 0 auto;
  padding-left: 0;
  padding-top: 25px;
  padding-bottom: 18px;
  list-style: none;
}

.social__item {
  display: flex;
}

.social__link {
  &--instagram {
    margin-top: 5px;
  }

  &--twitter {
    margin-top: 4px;
  }

  &:active {
    opacity: 0.3;
  }
}

.social svg {
  pointer-events: none;
}

.social__link svg {
  fill: #231f20;
}

.social__link:hover svg,
.social__link:focus svg {
  fill: #46c1ae;
}

@media (min-width: @width-tablet) {
  .social {
    margin: 0;
    padding-top: 6px;
    padding-right: 0;
  }
}
